/* 1. Use a more intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins for common layout elements */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 3. Set core body defaults for a fluid height and good readability */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. Make media elements easier to work with and responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Avoid text overflows and balance headings */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* 7. Remove animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  color: #fff;
  background-color: #55c955;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.3rem;
  color: #fff;
  background-color: #111010d8;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.about-event {
  width: 100%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 2rem;
}

.about-event h2,
.event-schedule h2,
.speakers h2,
.contact h2 {
  color: #3535fade;
  margin-bottom: 10px;
  font-size: 2rem;
}

.event-schedule {
  width: 100%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 2rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

.table-header,
.row-color {
  background-color: rgb(248, 245, 245);
}

.speakers {
  width: 100%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 2rem;
}
.speaker-title {
  font-size: 1.2rem;
}
.speaker-name {
  color: #3535fade;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact {
  width: 100%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 2rem;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid lightblue;
}

form {
  width: 600px;
  display: block;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  height: 7rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  outline: none;
}

form button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  background-color: #3535fade;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
